.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.full-size-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  border: 2px solid #161616;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image-container:hover .full-size-image {
  background-color: #f6e4e4;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-info {
  flex: 2;
  max-width: 600px;
}

.product-title {
  font-size: 2.2em;
  font-weight: bold;
  color: #060606;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1.1em;
  color: #060606;
  margin-bottom: 20px;
}

.product-price-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.product-price, .product-rating, .product-category {
  font-size: 1.2em;
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
  color: #060606;
}

.product-rating {
  color: #060606;
}

.product-category {
  color: #060606;
}

.buy-now-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

.buy-now-btn:hover {
  background-color: #060606;
}
